@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --bora-navy: #0c2d48;
  --bora-sky: #38bdf8;
  --sidebar-bg: #071e2d;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  * {
    @apply border-slate-200;
  }
}

@theme {
  --animate-shimmer: shimmer 2s infinite;

  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
