@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #DAC5A7;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  * {
    @apply border-slate-800;
  }
}

@theme {
  --animate-shimmer: shimmer 2s infinite;
  --animate-float: float 6s ease-in-out infinite;

  --color-cream: #DAC5A7;
  --color-dark: #000000;

  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}
